<div class="scrollable">
 <div class="scrollable-content">
   <div class="new-section">
    <h2>{{jobTitle}}</h2>
    <hr>
    <div style='-webkit-user-drag: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'>
      <ul class='list-style-none'>
        <li>
          <strong>Vakgebied:</strong><span>Administratief</span>
        </li>
        <li>
          <strong>Aantal uur:</strong><span>40</span>
        </li>
        <li>
          <strong>Dienstverband:</strong><span>Vast</span>
        </li>
        <li>
          <strong>Werk-denkniveau:</strong><span>MBO werk- en denkniveau</span>
        </li>
      </ul>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button class='btn btn-primary col-xs-12' ng-click="go('jobApply')">Solliciteer</button>
        </div>
      </div>
      <br>
      <h4>Organisatie-omschrijving</h4>
      <p>Ben jij een kei in Excel? Voel jij je prettig in een klein team bij een bouw gerelateerde organisatie?<br><br>Onze opdrachtgever in de regio Someren heeft het druk en zijn behoorlijk aan het groeien. De projecten blijven binnenstromen en ze zijn dan ook voor verschillende takken en afdelingen op zoek naar nieuwe collega’s. Zo ook op de administratie. De organisatie is van oudsher een familiebedrijf. Ondanks dat zij inmiddels een flinke speler op het gebied van bouw, techniek en infrastructuur zijn, merk je dit nog steeds binnen de organisatie. Informele werksfeer, korte lijnen,  persoonlijke aandacht en heldere communicatie. Bij de organisatie werken inmiddels 65 medewerkers, verdeeld over de administratie, de binnendienst en de buitendienst. De buitendienst bestaat onder andere uit monteurs, stratenmakers en grondwerkers. Jij komt te werken in een klein team van vier collega’s.</p>
      <br>
      <h4>Functie-omschrijving</h4>
      <p>Door jouw ondersteuning op het bedrijfsbureau worden de monteurs op de juist wijze ingepland en weet iedereen waar hij aan toe is. De uitvoerders weten door jouw ondersteuning sneller hun werkzaamheden uit te voeren en de klanten hangen tevreden de telefoon op, wanneer ze met jou hebben gesproken. <br><br>Jouw werkzaamheden bestaan onder andere uit:<br></p>
      <ul class="olympia-static1 list-style-none"><li>	Het aanmaken van werkmappen voor de monteurs;</li><li>	In Excel onder andere de planning voor de monteurs opmaken;</li><li>	Contact met klanten over nieuwe of bestaande aanvragen;</li><li>	Het opvolgen van aanvragen;</li><li>	Ondersteuning bieden aan de uitvoeders;</li><li>	Het opstellen van offertes en facturen;</li><li>	Alle overige administratieve werkzaamheden.</li></ul>
      <br>
      <p>Wanneer jij goed bent ingewerkt worden deze werkzaamheden uitgebreid. Denk hierbij bijvoorbeeld aan het lezen van tekeningen,  aanpassingen maken in tekeningen en het zelf maken van tekeningen in Autocad2.</p>
      <p>Niet alleen krijg je uitstekende begeleiding en word je goed ingewerkt, er zijn ook voldoende opleidingsmogelijkheden. De organisatie is bereid om in jou te investeren, zodat jij een onmisbare schakel binnen de organisatie wordt. Het gaat dan ook om een fulltime functie met uitzicht op contract.</p>
      <br>
      <h4>Ons aanbod</h4>
      <p>Je komt te werken voor een groeiend familiebedrijf. Onderling heerst er een informele en gezellige werksfeer. Een no nonsens mentaliteit, korte lijnen, heldere communicatie en persoonlijke aandacht.<br></p>
      <ul class="olympia-static1 list-style-none"><li>	Het gaat om een fulltime functie met uitzicht op contract;</li><li>	Doorgroeimogelijkheden in functie en salaris;</li><li>	Opleidingsmogelijkheden;</li><li>	Reiskostenvergoeding;</li><li>	Startsalaris ligt rond de € 2.200,00 per maand.</li></ul>
      <br>
      <h4>Wij vragen</h4>
      <ul class="olympia-static1 list-style-none"><li>	Je hebt affiniteit of enige werkervaring in de branche;</li><li>	Je hebt een afgeronde MBO opleiding;</li><li>	Je hebt een goede beheersing van Office, met name Excel;</li><li>	Je bent leergierig en werkt graag in een klein team;</li><li>	Je bent woonachtig tussen Eindhoven, Weert en Venlo, bij voorkeur in de omgeving van Someren.</li></ul>
      <p>Wil jij graag fulltime aan de slag en meegroeien met deze groeiende organisatie? Pak dan nu je kans en reageer direct! Vanaf 1 september aanstaande gaan de sollicitatiegesprekken plaatsvinden. Is dit gesprek positief? Dan ben jij binnen no time aan de slag!</p>
      <p>Voor vragen kun je contact opnemen met  Annemarie de Bruin via 0493-351066 of via a.de.bruin@olympia.nl. </p>
      <p>Volg en like onze Facebook pagina om op de hoogte te blijven van nieuws uit de arbeidsmarkt van Deurne en omstreken, vacatures, lokale acties, grappige foto’s en sollicitatietips: https://www.olympia.nl/U-462/Olympia-Uitzendbureau-Deurne </p>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button class='btn btn-primary col-xs-12' ng-click="go('jobApply')">Solliciteer</button>
        </div>
      </div>
      <br>
      <h2>Gerelateerde vacatures</h2>
      <ul class="results list-style-none" id="similarJobs-results" data-isexpanded="false">
        <li><a href="#">› Werkvoorbereider, Engineer: Groei door in deze fulltime zelfstandige functie!</a> </li>
        <li><a href="#">› Fulltime MBO:Elektricien, monteur elektro gezocht!</a> </li>
        <li><a href="#">› Afgestudeerde HBO'ers gezocht</a> </li>
        <li><a href="#">› Administratief medewerk(st)er werving &amp; selectie</a> </li>
        <li><a href="#">› Business/ data analyst</a> </li>
        <li><a href="#">› Declarant - Customs Specialist</a> </li>
        <li><a href="#">› Medewerker Afdeling Info</a> </li>
      </ul>
    </div>
    </div>
    <!-- footer -->
    <div ng-include="'footer.html'" class="footer"></div>
  </div>
</div>
