<div ui-content-for="title">
  <span>nieuw password</span>
</div>

<div class="scrollable">
 <div class="scrollable-content">

  <form role="form" class="new-section" ng-submit="submitNewPassword()" name="nieuwpasswordForm" id="nieuwpasswordForm" novalidate data-ng-init="user.passwordUpdated = false">
    <div data-ng-show="user.passwordUpdated == false">
      <fieldset>
        <h2>Je nieuwe wachtwoord instellen</h2>
        <br>
        <p>Kies een wachtwoord van minimaal 8 karakters en dat minimaal een cijfer en een hoofdletter bevat.</p>
        <div class="form-group">
          <label>Nieuw wachtwoord:</label>
          <input type="password" data-ng-model="user.password1" class="form-control" name="password1" data-ng-required="user.passwordUpdated == false" id="password1" data-ng-class="{'validation-error': nieuwpasswordForm.password1.$error.required && buttonOfFormNieuwPassword}">
          <div class="error" data-ng-show="nieuwpasswordForm.password1.$error.required && buttonOfFormNieuwPassword">
            <span>Typ je nieuwe wachtwoord</span>
          </div>
        </div>
        <div class="form-group">
          <label>Herhaal wachtwoord:</label>
          <input type="password" data-ng-model="user.password2" class="form-control" name="password2" data-ng-required="user.passwordUpdated == false" id="password2" data-ng-class="{'validation-error': nieuwpasswordForm.password2.$error.required && buttonOfFormNieuwPassword}">
          <div class="error" data-ng-show="nieuwpasswordForm.password2.$error.required && buttonOfFormNieuwPassword">
            <span>Herhaal je wachtwoord</span>
          </div>
          <div class="error" data-ng-show="!nieuwpasswordForm.password2.$error.required && !nieuwpasswordForm.password1.$error.required && (user.password1 != user.password2) && buttonOfFormNieuwPassword">
            <span>Het wachtwoord komt niet overeen</span>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="col-xs-12">
            <br>
            <button class="btn btn-primary" data-ng-click="buttonOfFormNieuwPassword = true">Wachtwoord wijzigen</button>
        </div>
      </div>
    </div>
    <div data-ng-show="user.passwordUpdated == true">
      <h2>Je wachtwoord is gewijzigd</h2>
      <br>
      <p>Je wachtwoord is succesvol gewijzigd. Klik hieronder om in te loggen en verder te gaan met je sollicitatie</p>
      <br>
      <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" data-ng-init="olympia.setTerugTrue = false;" data-ng-click="go('jobApply');olympia.setTerugTrue = true">Inloggen</button>
        </div>
      </div>
    </div>

  </form>
  <!-- footer -->
  <div ng-include="'footer.html'" class="footer"></div>
 </div>
</div>
