<div class="panel-body open-it-up" role="tabpanel" aria-labelledby="panel{{$index}}">
    <div class="row" data-ng-show="user.scenarion == 'nothing'" data-ng-init="user.scenarion = 'nothing'">
        <div class="col-xs-12">
            <h5>Heb je al eerder gesolliciteerd via Olympia?</h5>
            <p>Heb je al een Mijn Olympia account, omdat je al eens via Olympia gesolliciteerd of gewerkt hebt? Gebruik dan
                je account om in te loggen en sneller te solliciteren.</p>
            <div class="row padding-top-1x">
                <div class="col-xs-5 padding-right-0">
                    <button class="btn btn-primary width-100" data-ng-click="user.radioEmail = 'option2';user.scenarion='inloggen';gotoAnchor('panel0');focunOnInputElements('userEmail');">Inloggen</button>
                </div>
                <div class="col-xs-2 padding-left-0 padding-right-0 text-center padding-top-1x">
                    <span> - of - </span>
                </div>
                <div class="col-xs-5 padding-left-0">
                    <button class="btn btn-tertiary btn-default blue width-100" data-ng-click="user.radioEmail = 'option1';user.scenarion='neuw';gotoAnchor('panel0');focunOnInputElements('userEmail')">Ik ben nieuw</button>
                </div>
            </div>
        </div>
    </div>
    <form data-ng-show="user.scenarion !== 'nothing'" name="userRegistrationStep1" id="userRegistrationStep1" scroll-to-error
        novalidate ng-submit="userRegistrationStep1Submits(userRegistrationStep1.$valid, $index)" role="form" data-ng-init="buttonOfForm1CLicked = false">
        <imput type="hidden" value="false" data-ng-modal="user.modalPopUpValue" id="modalPopUpValue" name="modalPopUpValue">
        <div class="row">
            <div class="col-xs-12">
                <h5 data-ng-show="user.radioEmail == 'option2'">Log in met je Mijn Olympia account</h5>
                <p data-ng-show="user.radioEmail == 'option1'">Vul het e-mailadres in waarop wij jou kunnen bereiken naar aanleiding van je inschrijving en sollicitatie.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="userEmail">E-mailadres <i data-ng-show="user.radioEmail == 'option1'" ui-turn-on="emailmessage" class="fa fa-info-circle"></i></label>
                    <input type="text" name="userEmail" class="form-control" id="userEmail" data-required="true" data-ng-pattern="emailRegx"
                        data-ng-change="olympia.panel0Change = true;olympia.saveThePanelValue = 0;" data-ng-model="user.userEmail"
                        data-ng-required="true" data-ng-class="{'validation-error': (userRegistrationStep1.userEmail.$error.required || userRegistrationStep1.userEmail.$error.pattern) && buttonOfForm1CLicked}">
                    <div class="error" data-ng-show="userRegistrationStep1.userEmail.$error.required && buttonOfForm1CLicked">
                        <span>E-mailadres is verplicht</span>
                    </div>
                    <div class="error" data-ng-show="userRegistrationStep1.userEmail.$error.pattern && buttonOfForm1CLicked">
                        <span>Het e-mailadres staat niet in een geldig formaat</span>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="user.radioEmail == 'option2'" class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="password">Wachtwoord</label>
                    <input type="password" name="password" class="form-control wdith-494" id="password" data-ng-required="user.radioEmail == 'option2'"
                        data-ng-change="olympia.panel0Change = true;olympia.saveThePanelValue = 0;" data-ng-model="user.password"
                        data-ng-class="{'validation-error': userRegistrationStep1.password.$error.required && buttonOfForm1CLicked}">
                    <div class="error" data-ng-show="userRegistrationStep1.password.$error.required && buttonOfForm1CLicked">
                        <span>Wachtwoord is verplicht.</span>
                    </div>
                    <div class="error" data-ng-show="!userRegistrationStep1.password.$error.required && buttonOfForm1CLicked && !invalidUser0 && !invalidUser1">
                        <span>De ingevoerde gebruikersnaam of het ingevoerde wachtwoord is onjuist.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-ng-show="user.radioEmail == 'option1'">
            <div class="col-xs-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="terms" data-ng-change="olympia.panel0Change = true;olympia.saveThePanelValue = 0;" name="terms" value="1" data-ng-model="user.terms" data-ng-required="user.radioEmail == 'option1'">
                        Ik verleen hierbij toestemming om de door mij verstrekte gegevens op te slaan en verklaar mij akkoord met de  <a class="orange" href="javascript:void(0)">privacyverklaring</a>
                    </label>
                </div>
                <div class="error" data-ng-show="userRegistrationStep1.terms.$error.required && buttonOfForm1CLicked">
                    <span>Je dient akkoord te gaan met de privacyverklaring om verder te gaan.</span>
                </div>
            </div>
        </div>

        <div class="row" data-ng-show="user.radioEmail == 'option2'">
            <div class="col-xs-12">
                <br>
                <button type="submit" class="btn btn-primary" ng-click="buttonOfForm1CLicked = true;olympia.panel0Change = false">Inloggen</button>
                <a href="javascript:void(0)" class="underline padding-left-10" data-ng-click="user.scenarion='nothing';buttonOfForm1CLicked = false;">terug</a>
                <!-- <button type="submit" class="btn btn-primary btn-block" ng-click="buttonOfForm1CLicked = true;" data-ng-show="user.radioEmail == 'option2'">Log in en solliciteer <i class="fa fa-arrow-down"></i></button> -->
            </div>
        </div>
        <div class="row" data-ng-show="user.radioEmail == 'option1'">
            <div class="col-xs-12">
                <br>
                <button type="submit" class="btn btn-primary" ng-click="buttonOfForm1CLicked = true;olympia.panel0Change = false">Verder</button>
                <a href="javascript:void(0)" class="underline padding-left-10" data-ng-click="user.scenarion='nothing';buttonOfForm1CLicked = false;">terug</a>
                <!-- <button type="submit" class="btn btn-primary btn-block" ng-click="buttonOfForm1CLicked = true;" data-ng-show="user.radioEmail == 'option2'">Log in en solliciteer <i class="fa fa-arrow-down"></i></button> -->
            </div>
        </div>
        <div class="row" data-ng-show="user.radioEmail == 'option2'">
            <div class="col-xs-12">
                <br>
                <a class="underline" href="javascript:void(0)" title="Wachtwoord vergeten" data-ng-click="go('RequestLostPassword')">Wachtwoord vergeten</a>
            </div>
        </div>
    </form>
</div>