<div class="modal modal-overlay" ui-if='agemodalmessage' ui-state='agemodalmessage'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ui-turn-off="agemodalmessage"  ng-click="saveValueOfModalAgeMessage(true)">&times;</button>
      </div>
      <div class="modal-body">
        <p>Je hebt een leeftijd opgegeven waaruit blijkt dat je niet oud genoeg bent. Je kunt je registreren zodra je 16 jaar oud bent; wij zien je dan graag terug.</p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6">
              <button ui-turn-off="agemodalmessage" class="btn btn-primary" ng-click="saveValueOfModalAgeMessage(true)">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
