<div ui-content-for="title">
  <span>Forgot password</span>
</div>

<div class="scrollable">
 <div class="scrollable-content">

  <form role="form" ng-submit='go("jobs")' class="height-85 new-section">
    <fieldset>
      <h2>Nieuw wachtwoord aanvragen</h2>
      <p>Vul hier je gebruikersnaam of e-mail adres in. Je ontvangt dan een email met daarin een link waarop je kunt klikken om een nieuw wachtwoord in te stellen.</p>
      <div class="form-group">
        <label>Je gebruikersnaam of e-mail adres:</label>
        <input type="text" ng-model="user.userEmail" class="form-control">
      </div>
    </fieldset>

    <div class="row">
      <div class="col-xs-12">
          <button class="btn btn-primary" data-ng-click="go('jobApply')">E-mail versturen</button>
          <a href="javascript:void(0)" class="underline padding-left-10" data-ng-click="go('jobApply')">terug</a>
      </div>
    </div>

  </form>
  <!-- footer -->
  <div ng-include="'footer.html'" class="footer"></div>
 </div>
</div>
