<div ui-content-for="title">
  <span>Forgot password</span>
</div>

<div class="scrollable">
 <div class="scrollable-content" id="forgotTop">

  <form role="form" class="new-section" name="forgotpasswordForm" id="forgotpasswordForm" data-ng-init="user.forgotpasswordSet = false;buttonOfForgotPassword = false;" novalidate>
    <div data-ng-show="!user.forgotpasswordSet">
      <fieldset>
        <h2>Nieuw wachtwoord aanvragen</h2>
        <br>
        <p>Vul hier je gebruikersnaam of e-mailadres in. Je ontvangt dan een e-mail met daarin een link waarop je kunt klikken om een nieuw wachtwoord in te stellen.</p>
        <div class="form-group">
          <label>Je gebruikersnaam of e-mailadres:</label>
          <input type="text" data-ng-model="user.userEmail" class="form-control" data-ng-required="true" data-ng-pattern="emailRegx" data-ng-class="{'validation-error': (forgotpasswordForm.userEmail.$error.required || forgotpasswordForm.userEmail.$error.pattern) && buttonOfForm1CLicked}">
          <div class="error" data-ng-show="forgotpasswordForm.userEmail.$error.required && buttonOfForgotPassword">
            <span>E-mailadres is verplicht</span>
          </div>
          <div class="error" data-ng-show="forgotpasswordForm.userEmail.$error.pattern && buttonOfForgotPassword">
            <span>Het e-mailadres staat niet in een geldig formaat</span>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" data-ng-click="user.forgotpasswordSet = true;gotoAnchor('forgotTop')">E-mail versturen</button>
            <a href="javascript:void(0)" class="underline padding-left-10" data-ng-init="olympia.setTerugTrue = false;" data-ng-click="go('jobApply');olympia.setTerugTrue = true">terug</a>
        </div>
      </div>
    </div>

    <div data-ng-show="user.forgotpasswordSet" >
      <h2>Nieuw wachtwoord aanvragen</h2>
      <br>
      <p>Je aanvraag is verstuurd. Je ontvangt een e-mail met een link waarmee je een nieuw wachtwoord kan instellen.<br/><br/>Kun je geen e-mail vinden? Bekijk ook voor de zekerheid je spam/ ongeweste e-mail.</p>
      <br>
      <div class="row">
        <div class="col-xs-12">
            <a href="javascript:void(0)" id="save-button" class="underline" data-ng-click="go('jobApply');">Terug naar je sollicitatie</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br>
            <a href="javascript:void(0)" id="save-button" class="underline grey" data-ng-click="go('nieuwpassword')">Nieuw wachtwoord</a>
        </div>
      </div>
    </div>
  </form>
  <!-- footer -->
  <div ng-include="'footer.html'" class="footer"></div>
 </div>
</div>
