<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="/app/" />
    <title>Olympia mobile v1.2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="demo.css" />
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
    <script src="/dist/js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="/dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ubms1doei7w1mwq"></script>
    <script type="text/javascript" src="https://js.live.net/v7.0/OneDrive.js"></script>
    <script src="demo.js"></script>
  </head>

   <body
    ng-app="MobileAngularUiExamples"
    ng-controller="MainController"
    ui-prevent-touchmove-defaults
    >

    <!-- Sidebars starts -->
    <div ng-include="'sidebar.html'" ui-track-as-search-param='true' class="sidebar sidebar-left" data-ng-if="isMobile"></div> 

    <div class="app" ui-swipe-right='Ui.turnOn("uiSidebarLeft")' ui-swipe-left='Ui.turnOff("uiSidebarLeft")' data-ng-if="isMobile"> 
      <div class="navbar navbar-app navbar-absolute-top">
         <div class="navbar-brand navbar-brand-center">
        </div> 
        <div class="btn-group pull-left">
          <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
            <i class="fa fa-bars"></i> Menu
          </div>
        </div>
      </div>
      <div class="app-body" ng-class="{loading: loading}" id="top">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content" id="app-content">
          <ng-view autoscroll="true"></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

      <div class="app-body" ng-class="{loading: loading}" id="top" data-ng-if="!isMobile">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content" id="app-content">
          <ng-view autoscroll="true"></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

    <div ui-yield-to="modals"></div>
    <!-- The Google API Loader script. -->
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBdQV33Av2HhNK3p-91fQIaN6GKGF1nUhA",
        authDomain: "olympia-m.firebaseapp.com",
        databaseURL: "https://olympia-m.firebaseio.com",
        storageBucket: "olympia-m.appspot.com",
      };
      firebase.initializeApp(config);
    </script>
    <!-- Scripts -->
    <script type="text/javascript" src="lib/hoverIntent.js"></script>
    <script type="text/javascript" src="lib/superfish.min.js"></script>
    <script type="text/javascript" src="lib/supersubs.js"></script>

    <script>
      $("#text-content").keyup(function() {
        var text  = $(this).val();
        $('#text-content-pop').val(text);
        $('#text-content-count').text($(this).val().length);
        $('#text-content-count-pop').text($(this).val().length);
      });
      $("#text-content-pop").keyup(function() {
        var text  = $(this).val();
        $('#text-content').val(text);
        $('#text-content-count-pop').text(text.length);
        $('#text-content-count').text(text.length);
      });
      $(document).ready(function () {
        $("#menu-227").addClass('sf-menu');
        $('#menu-227').superfish({
          delay: 200,
          speed: 'fast',
          autoArrows: 1,
          dropShadows: 1
        });
      });
    </script> 
  </body>
</html>
