<div class="scrollable" data-ng-init="callJobLoginSection()">
  <div class="scrollable-content">
    <div class="new-section">
      <h4>Je gaat solliciteren op:</h4>
      <h2>{{jobTitle}}</h2>
      <hr>
      <div style='-webkit-user-drag: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'>
        <ul class='list-style-none'>
          <li>
            <strong>Vakgebied:</strong><span>Administratief</span>
          </li>
          <li>
            <strong>Aantal uur:</strong><span>40</span>
          </li>
          <li>
            <strong>Dienstverband:</strong><span>Vast</span>
          </li>
          <li>
            <strong>Werk-denkniveau:</strong><span>MBO werk- en denkniveau</span>
          </li>
        </ul>
        <hr>
        <div class="panel-group" data-ng-init="olympia.panel0Change = false; olympia.panel1Change = false; olympia.panel2Change = false;olympia.panel3Change = false;olympia.panel4Change = false;">
          <div class="panel panel-default" ng-repeat="panel in panels" data-ng-class="{'is-active': panel.isActive, 'is-editable': panel.isEditable, 'is-disabled': panel.isDisabled || (olympia.panel0Change && $index !=0) || (olympia.panel1Change && $index != 1) || (olympia.panel2Change && $index != 2) || (olympia.panel3Change && $index != 3), 'closed': panel.closed, 'is-complete': panel.isComplete}" id="panel{{$index}}">
            <div class="panel-heading" data-ng-click="openAndClosed($index, false)" data-ng-if="$index !== 4 || (jobUrl === 'secondjob' && $index == 4)">
              <h4 class="panel-title">
                <a href="javascript:void(0)" ><i class="fa fa-check"></i> {{$index+1}}. {{user.radioEmail == 'option1' ? panel.panelSubstituteHeading : panel.panelHeadingTitle}}</a>
              </h4>
            </div>
            <div data-ng-include="'jobApplyPanels/panel0.html'" data-ng-if="$index == 0"></div>
            <div data-ng-include="'jobApplyPanels/panel1.html'" data-ng-if="$index == 1"></div>
            <div data-ng-include="'jobApplyPanels/panel2.html'" data-ng-if="$index == 2"></div>
            <div data-ng-include="'jobApplyPanels/panel3.html'" data-ng-if="$index == 3"></div>
            
            <div class="panel-body open-it-up" data-ng-if="$index == 4 && jobUrl === 'secondjob'" data-ng-init="showMoreDescription = false">
              <h4 class="orange">Je sollicitatie afronden met de Contact Center Experience</h4>
              <p class="padding-bottom-7">Bedankt voor jouw interesse in onze vacature <a href="javascript:void(0)">{{jobTitle}}</a>! Een vast onderdeel van onze sollicitatieprocedure voor deze vacature is de Contact Center Experience. </p><p><a class="blue" href="javascript:void(0)" data-ng-click="showMoreDescription = false" data-ng-show="showMoreDescription == true">- minder</a></p><p data-ng-show="showMoreDescription == true">De Contact Center Experience is een vast onderdeel van deze sollicitatie en duurt een uur. Kies een rustige plek waar je geconcentreerd kunt werken. Je volgt klantgesprekken en doet verschillende tests. Als je de Experience hebt afgerond ontvang je een persoonlijke rapportage van je resultaten. Dan zie je meteen waar jouw talenten liggen! Bekijk ook onderstaande video over de Contact Center Experience:<br><br><iframe src="https://player.vimeo.com/video/149858767?color=fd4f00&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" height="130"></iframe></p>
              <a class="blue" href="javascript:void(0)" data-ng-click="showMoreDescription = true" data-ng-show="showMoreDescription == false">+ meer</a>
              <a class="blue" href="javascript:void(0)" data-ng-click="showMoreDescription = false" data-ng-show="showMoreDescription == true">- minder</a>
              <br><br>
              <p><strong>Belangrijk<br><br>De Olympia intercedent kan jouw solliciatie alleen in behandeling nemen als je de Contact Center Experience hebt afgerond. <br><br>Helaas is de Contact Center Experience niet toegankelijk vanaf een mobiel apparaat. Gebruik een vaste computer om jouw sollicitatie voort te zetten via onderstaande link. Je ontvangt deze link ook per e-mail. <br><br>Wij wensen je veel succes en plezier toe met het maken van de Contact Center Experience</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div ng-include="'footer.html'" class="footer"></div>
    <div ui-content-for="modals">
      <div ng-include="'agemodal.html'"></div>
      <div ng-include="'agemodalmessage.html'"></div>
      <div ng-include="'fotomessage.html'"></div>
      <div ng-include="'emailmessage.html'"></div>
      <div ng-include="'fotoupload.html'"></div>
      <div ng-include="'fotouploadimage.html'"></div>
      <div ng-include="'jobApplyPanels/cvUploaden.html'"></div>
      <div ng-include="'jobApplyPanels/cvEmail1.html'"></div>
      <div ng-include="'jobApplyPanels/cvEmail2.html'"></div>
      <div ng-include="'jobApplyPanels/cvEdit.html'"></div>
    </div>
  </div>
</div>
